:root{
    --primary-clr:rgb(146, 178, 206);
}

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--primary-clr);
}
.loginPage{
    padding: 5em;
    display: grid;
    place-items: center;
    /* justify-content: center; */
    text-align: center;
    gap: 2em;
}
.appTitle{
    font-size: 6em;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.appIntro{
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.quickLinks{
    display: flex;
    gap: 2em;
    /* text-align: left; */
}
.Login{}
.Signup{}

.button{
    padding: 1em 2em;
    border: 2px solid black;
    border-radius: 1em;
    background-color: rgb(46, 226, 109);
    font-weight: bolder;
}
label{
    font-size: 20px;
}

input{
    padding: 5px 10px;
}
.submitbutton{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(46, 226, 109);
}
